<config>
    <modules>
        <EcomDev_Sphinx>
            <version>2.0.5</version>
        </EcomDev_Sphinx>
    </modules>
    <global>
        <blocks>
            <ecomdev_sphinx>
                <class>EcomDev_Sphinx_Block</class>
            </ecomdev_sphinx>
        </blocks>
        <models>
            <ecomdev_sphinx>
                <class>EcomDev_Sphinx_Model</class>
                <resourceModel>ecomdev_sphinx_resource</resourceModel>
            </ecomdev_sphinx>
            <ecomdev_sphinx_resource>
                <class>EcomDev_Sphinx_Model_Resource</class>
                <entities>
                    <scope>
                        <table>ecomdev_sphinx_scope</table>
                    </scope>
                    <sort>
                        <table>ecomdev_sphinx_sort</table>
                    </sort>
                    <attribute>
                        <table>ecomdev_sphinx_attribute</table>
                    </attribute>
                    <field>
                        <table>ecomdev_sphinx_field</table>
                    </field>
                    <index_metadata>
                        <table>ecomdev_sphinx_index_metadata</table>
                    </index_metadata>
                    <index_category>
                        <table>ecomdev_sphinx_index_category</table>
                    </index_category>
                    <index_product>
                        <table>ecomdev_sphinx_index_product</table>
                    </index_product>
                    <index_deleted>
                        <table>ecomdev_sphinx_index_deleted</table>
                    </index_deleted>
                    <index_updated>
                        <table>ecomdev_sphinx_index_updated</table>
                    </index_updated>
                    <index_keyword>
                        <table>ecomdev_sphinx_index_keyword</table>
                    </index_keyword>
                    <word_form>
                        <table>ecomdev_sphinx_word_form</table>
                    </word_form>
                </entities>
            </ecomdev_sphinx_resource>
        </models>
        <helpers>
            <ecomdev_sphinx>
                <class>EcomDev_Sphinx_Helper</class>
            </ecomdev_sphinx>
        </helpers>
        <resources>
            <ecomdev_sphinx_setup>
                <setup>
                    <module>EcomDev_Sphinx</module>
                </setup>
            </ecomdev_sphinx_setup>
        </resources>
        <index>
            <indexer>
                <sphinx_category>
                    <model>ecomdev_sphinx/indexer_catalog_category</model>
                </sphinx_category>
                <sphinx_product>
                    <model>ecomdev_sphinx/indexer_catalog_product</model>
                </sphinx_product>
            </indexer>
            <sphinx>
                <product>
                    <trigger>
                        <entity>
                            <table>catalog/product</table>
                            <field>entity_id</field>
                            <update>
                                <type_id />
                                <sku />
                                <attribute_set_id />
                                <has_options />
                                <required_options />
                            </update>
                        </entity>
                        <entity_int>
                            <table><prefix>catalog/product</prefix><suffix>int</suffix></table>
                            <field>entity_id</field>
                            <update>
                                <value>1</value>
                            </update>
                        </entity_int>
                        <entity_varchar>
                            <table><prefix>catalog/product</prefix><suffix>varchar</suffix></table>
                            <field>entity_id</field>
                            <update>
                                <value>1</value>
                            </update>
                        </entity_varchar>
                        <entity_text>
                            <table><prefix>catalog/product</prefix><suffix>text</suffix></table>
                            <field>entity_id</field>
                            <update>
                                <value>1</value>
                            </update>
                        </entity_text>
                        <entity_decimal>
                            <table><prefix>catalog/product</prefix><suffix>decimal</suffix></table>
                            <field>entity_id</field>
                            <update>
                                <value>1</value>
                            </update>
                        </entity_decimal>
                        <entity_datetime>
                            <table><prefix>catalog/product</prefix><suffix>datetime</suffix></table>
                            <field>entity_id</field>
                            <update>
                                <value>1</value>
                            </update>
                        </entity_datetime>
                        <entity_media_gallery>
                            <table><prefix>catalog/product</prefix><suffix>media_gallery</suffix></table>
                            <field>entity_id</field>
                            <update>
                                <value>1</value>
                            </update>
                        </entity_media_gallery>
                        <price_index>
                            <table>catalog/product_index_price</table>
                            <field>entity_id</field>
                            <update>
                                <price>1</price>
                                <min_price>1</min_price>
                                <max_price>1</max_price>
                            </update>
                        </price_index>
                        <stock_index>
                            <table>cataloginventory/stock_status</table>
                            <field>product_id</field>
                            <types>
                                <update>1</update>
                                <delete>1</delete>
                            </types>
                            <update>
                                <stock_status>1</stock_status>
                            </update>
                        </stock_index>
                        <category_product>
                            <table>catalog/category_product</table>
                            <field>product_id</field>
                            <types>
                                <insert>1</insert>
                                <delete>1</delete>
                                <update>
                                    <position>1</position>
                                </update>
                            </types>
                        </category_product>
                    </trigger>
                </product>
                <category>
                    <trigger>
                        <entity>
                            <table>catalog/category</table>
                            <field>entity_id</field>
                            <update>
                                <parent_id />
                                <path />
                                <position />
                                <level />
                            </update>
                        </entity>
                        <entity_int>
                            <table><prefix>catalog/category</prefix><suffix>int</suffix></table>
                            <field>entity_id</field>
                            <update>
                                <value>1</value>
                            </update>
                        </entity_int>
                        <entity_varchar>
                            <table><prefix>catalog/category</prefix><suffix>varchar</suffix></table>
                            <field>entity_id</field>
                            <update>
                                <value>1</value>
                            </update>
                        </entity_varchar>
                        <entity_text>
                            <table><prefix>catalog/category</prefix><suffix>text</suffix></table>
                            <field>entity_id</field>
                            <update>
                                <value>1</value>
                            </update>
                        </entity_text>
                        <entity_decimal>
                            <table><prefix>catalog/category</prefix><suffix>decimal</suffix></table>
                            <field>entity_id</field>
                            <update>
                                <value>1</value>
                            </update>
                        </entity_decimal>
                        <entity_datetime>
                            <table><prefix>catalog/category</prefix><suffix>datetime</suffix></table>
                            <field>entity_id</field>
                            <update>
                                <value>1</value>
                            </update>
                        </entity_datetime>
                    </trigger>
                </category>
            </sphinx>
        </index>
        <cache>
            <types>
                <sphinx translate="label,description" module="ecomdev_sphinx">
                    <label>Sphinx Metadata</label>
                    <description>Sphinx Configuration Scopes, Sphinx Attributes</description>
                    <tags>SPHINX_SCOPE,SPHINX_ATTRIBUTE,SPHINX_FIELD,SPHINX_FACET,SPHINX_SORT</tags>
                </sphinx>
            </types>
        </cache>
        <events>
            <page_block_html_topmenu_gethtml_before>
                <observers>
                    <catalog_add_topmenu_items>
                        <class>ecomdev_sphinx/observer</class>
                    </catalog_add_topmenu_items>
                </observers>
            </page_block_html_topmenu_gethtml_before>
        </events>
    </global>
    <crontab>
        <jobs>
            <ecomdev_sphinx_revalidate_config>
                <schedule>
                    <cron_expr>*/5 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>ecomdev_sphinx/cron::checkIndex</model>
                </run>
            </ecomdev_sphinx_revalidate_config>

            <ecomdev_sphinx_notify_category_changes>
                <schedule>
                    <cron_expr>* * * * *</cron_expr>
                </schedule>
                <run>
                    <model>ecomdev_sphinx/cron::validateCategoryChanges</model>
                </run>
            </ecomdev_sphinx_notify_category_changes>

            <ecomdev_sphinx_notify_product_changes>
                <schedule>
                    <cron_expr>* * * * *</cron_expr>
                </schedule>
                <run>
                    <model>ecomdev_sphinx/cron::validateProductChanges</model>
                </run>
            </ecomdev_sphinx_notify_product_changes>

            <ecomdev_sphinx_update_deltas>
                <schedule>
                    <cron_expr>*/5 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>ecomdev_sphinx/cron::updateDeltas</model>
                </run>
            </ecomdev_sphinx_update_deltas>

            <!-- once a day we perform a full reindex to make sure price changes are applied
                 from catalog price index -->
            <ecomdev_sphinx_full_reindex>
                <schedule>
                    <cron_expr>0 1 * * *</cron_expr>
                </schedule>
                <run>
                    <model>ecomdev_sphinx/cron::fullReindex</model>
                </run>
            </ecomdev_sphinx_full_reindex>
        </jobs>
    </crontab>
    <adminhtml>
        <layout>
            <updates>
                <ecomdev_sphinx>
                    <file>ecomdev/sphinx.xml</file>
                </ecomdev_sphinx>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <ecomdev_sphinx after="Mage_Adminhtml">EcomDev_Sphinx_Adminhtml</ecomdev_sphinx>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <category>
            <collection>
                <attributes>
                    <sphinx_scope />
                </attributes>
            </collection>
        </category>
        <events>
            <catalog_controller_category_init_after>
                <observers>
                    <ecomdev_sphinx_on_category>
                        <class>ecomdev_sphinx/observer</class>
                        <method>onInitCategory</method>
                    </ecomdev_sphinx_on_category>
                </observers>
            </catalog_controller_category_init_after>
            <catalog_controller_product_init_after>
                <observers>
                    <ecomdev_sphinx_on_product>
                        <class>ecomdev_sphinx/observer</class>
                        <method>onInitProduct</method>
                    </ecomdev_sphinx_on_product>
                </observers>
            </catalog_controller_product_init_after>
            <controller_action_predispatch_catalogsearch_result_index>
                <observers>
                    <ecomdev_sphinx_on_search>
                        <class>ecomdev_sphinx/observer</class>
                        <method>onInitSearch</method>
                    </ecomdev_sphinx_on_search>
                </observers>
            </controller_action_predispatch_catalogsearch_result_index>
            <controller_action_layout_load_before>
                <observers>
                    <ecomdev_sphinx_on_layout>
                        <class>ecomdev_sphinx/observer</class>
                        <method>onLayoutHandlesLoad</method>
                    </ecomdev_sphinx_on_layout>
                </observers>
            </controller_action_layout_load_before>
            <controller_action_layout_render_before>
                <observers>
                    <ecomdev_sphinx_on_render>
                        <class>ecomdev_sphinx/observer</class>
                        <method>onLayoutBeforeRender</method>
                    </ecomdev_sphinx_on_render>
                </observers>
            </controller_action_layout_render_before>
            <controller_action_postdispatch>
                <observers>
                    <ecomdev_sphinx_json_apply>
                        <class>ecomdev_sphinx/observer</class>
                        <method>applyJsonView</method>
                    </ecomdev_sphinx_json_apply>
                </observers>
            </controller_action_postdispatch>
        </events>
        <layout>
            <updates>
                <ecomdev_sphinx>
                    <file>ecomdev/sphinx.xml</file>
                </ecomdev_sphinx>
            </updates>
        </layout>
        <routers>
            <sphinx>
                <use>standard</use>
                <args>
                    <module>EcomDev_Sphinx_Frontend</module>
                    <frontName>sphinx</frontName>
                </args>
            </sphinx>
        </routers>
    </frontend>
    <default>
        <ecomdev_sphinx>
            <daemon>
                <index_config_path>$HOME/sphinx/magento.txt</index_config_path>
                <daemon_config_path>$HOME/sphinx/sphinx.conf</daemon_config_path>
                <index_path>$HOME/sphinx/data</index_path>
                <manage>0</manage>
                <listen>127.0.0.1:9306:mysql41</listen>
                <pid>$HOME/sphinx/sphinx.pid</pid>
                <log>$HOME/sphinx/sphinx.log</log>
                <query_log></query_log>
                <read_timeout>5</read_timeout>
                <max_children>30</max_children>
                <read_buffer>1M</read_buffer>
                <max_batch_queries>256</max_batch_queries>
                <subtree_docs_cache>0</subtree_docs_cache>
                <subtree_hits_cache>0</subtree_hits_cache>
                <collation_server>utf8_general_ci</collation_server>
                <workers>prefork</workers>
                <prefork_rotation_throttle>50</prefork_rotation_throttle>
                <indexer_memory_limit>256M</indexer_memory_limit>
                <indexer_write_buffer>8M</indexer_write_buffer>
                <indexer_file_buffer>8M</indexer_file_buffer>
                <index_product_merge_limit>300</index_product_merge_limit>
                <index_category_merge_limit>300</index_category_merge_limit>
                <indexer_command>indexer -c $HOME/sphinx/sphinx.conf</indexer_command>
                <indextool_command>indextool -c $HOME/sphinx/sphinx.conf</indextool_command>
                <daemon_command>sudo service searchd</daemon_command>
                <before_start_command>mkdir -p $HOME/sphinx/data</before_start_command>
                <ssh_host>127.0.0.1</ssh_host>
                <ssh_port>22</ssh_port>
                <ssh_user>vagrant</ssh_user>
            </daemon>
            <connection>
                <host>127.0.0.1</host>
                <port>9306</port>
            </connection>
            <export>
                <reader_batch_size>1000</reader_batch_size>
                <keyword_size>5000</keyword_size>
            </export>
            <general>
                <active>0</active>
                <search_active>1</search_active>
                <max_matches>5000</max_matches>
            </general>
        </ecomdev_sphinx>
    </default>
</config>
